<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-aquro-webview" version="0.0.2"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>AquroWebView</name>
	<js-module name="AquroWebView" src="www/AquroWebView.js">
		<clobbers target="cordova.plugins.AquroWebView" />
	</js-module>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="AquroWebView">
				<param name="ios-package" value="AquroWebView" />
			</feature>
		</config-file>
		<source-file src="src/ios/AquroWebView.m" />
	</platform>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="AquroWebView">
				<param name="android-package" value="cordova.plugin.aquro.webiew.AquroWebView" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml">
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		</config-file>
		<source-file src="src/android/AquroWebView.java" target-dir="src/aquro/webiew/AquroWebView" />
	</platform>
</plugin>
